* {
    font-family: 'Poppins', sans-serif;
}

.heading {
    font-size: 50px;
    text-align: center;
    margin: 14px 14px 14px 14px;
    padding: 5px;
}

p {
    font-size: 12xp;
    font-style: italic;
    font-weight: bold;
    
}

.container {
    display: block;
}